# Laravel 5 & Lumen specific
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json

# OS X specific
.DS_Store

# Vim specific
.*.swp
.*.swo

*.bak

.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
