vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
storage/
.env.*.php
.env.php
.env
.env.example

# Vagrant specific
Homestead.yaml
Homestead.json
.vagrant

# OS X specific
.DS_Store

# Vim specific
.*.swp
.*.swo
