#dashboard-hero {
  height: 950px;

  #map {
    @include set-gutter(0);
    height: 100%;
    opacity: .8;
  }

  #dashboard-sidebar {
    @include set-gutter(0);
    @include box-shadow(-10px, 0, 10px, -10px, #4D4D4D);
    height: 100%;

    #browse {
      margin-top: 100px;
    }

    .page-header-text {
      color: #424242;
      font-size: 1.5em;
      font-weight: 300;
    }

    #browse-menu {
      img {
	    width: 20px;
        margin-top: 5px;
        opacity: .7;
	    height: auto;
      }
    }

    .browse-items-div {
        margin-top: 25px;
        #browse-items-header {
          color: #B0B0B0;
          border-bottom: 1px solid #C2C2C2;
          padding-bottom: 7px;
          font-weight: 300;
          div {
            @include set-gutter(0);
          }
        }
    }

    .items-table {
      padding-left: 0;
      padding-right: 0;
    }

    .browse-items-div {
      .list-group {
        border: none;
      }
      .list-group-item {
	    height: 0;
        border: none;
      }
      .list-group-item:hover {
	    height: auto;
      }
      .browse-item {
        padding: 10px 0 34px;
        border-bottom: 1px solid #C2C2C2;
        a {
          font-size: 1em;
          color: #595959;
          font-weight: 300;
        }
        a.btn, button.btn {
          display: none;
          padding: 2px 14px;
          color: #2187CC;
          font-size: .95em;
          font-weight: 300;
          background: transparent;
          border: 1px solid #2187CC;
          border-radius: 2px;
          &:hover {
            background: rgb(205, 219, 250);
          }
          &.btn-delete {
            color: #F57880;
            border-color: #F57880;
            padding: 2px 10px;
            &:hover {
              background: #FFD9D9;
            }
          }
        }
        &:hover {
          background: rgba(232, 245, 255, 0.4);
          padding-bottom: 10px;
          a.btn, button.btn {
           display: inline-block;
          }
        }
      }
    }
  }
}

#dashboard-sidebar .delete-form {
  display: inline-block;
  height: 0;
}

.browse-image {
  img {
    width: 19px;
    height: auto;
    opacity: .4;
  }
}

.box-type-icon, .route-type-icon {
  border-radius: 50%;
  margin: 4px auto auto 14px;
  height: 15px;
  width: 15px;
}
.route-type-icon {
    border-radius: 0;
}
.owner-box-icon, .owner-route-icon {
  background: #ADEDB9;
}
.shared-box-icon, .shared-route-icon {
  background: #ead4ee;
}

.item-shared-with img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline;
    margin: 2px 5px 0 0;
}

.list-group-item-linkable:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}
.empty-container {
  margin-top: 25px;
  span {
    color: rgb(122, 122, 122);
    font-weight: 300;
    font-size: 1.1em;
  }
}
