@mixin set-gutter($amt) {
  padding: $amt !important;
  margin: $amt !important;
}

@mixin box-shadow($a, $b, $c, $d, $color) {
  -webkit-box-shadow: $a $b $c $d $color;
     -mox-box-shadow: $a $b $c $d $color;
      -ms-box-shadow: $a $b $c $d $color;
          box-shadow: $a $b $c $d $color;
}
