#profile {
    margin-top : 65px;
}

.padded {
    margin : 10px;
}

.padded-top {
    padding-top: 60px;
}

#profile-icon {
    width : 64px;
    height : 64px;
}

#change-icon-link {
    padding-left: 10px;
}

.padded-left {
    padding-left: 10px;
}
