#welcome-hero {
  height: 650px;

  #welcome-map {
    @include set-gutter(0);
    img {
      opacity: .7;
      width: 100%;
      height: 100%;
    }
  }

  &:after {
    content: " ";
    display:block;
    position: relative;
    top:0px;
    left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#F5F9FA 49%, transparent 49%),
        linear-gradient(-45deg, white 33%, transparent 33%) 0 50%,
        white linear-gradient(45deg, white 33%, #F5F9FA 33%) 0 50%;
    background-repeat: repeat-x;
    background-size: 1px 100%, 40px 40px, 40px 40px; 
  }

  #welcome-sidebar {
    @include set-gutter(0);
    @include box-shadow(-5px, 0, 6px, -6px, #4D4D4D);
    height: 100%;
    background: #F5F9FA;
     
    .sidebar-description {
      padding: 25px;
      margin-top: 65px;

      h1, p {
        font-weight: 200;
      }

      h1 { 
        font-size: 3.45em;
      }

      p {
        font-size: 1.25em;
      }
    }

    #welcome-register-form {
      margin-top: 25px;
        
      .alert {
        margin-top: -25px;
      }
    }
  }
}

#welcome-info {
  margin-top: 45px;
  background: #ffffff;
  height: 750px;
}

