#edsger-letters {
  .row {
    margin: 0 auto;
    margin: 0 auto;
    margin: 115px auto 15px;
    width: 60%;
  }
  img {
    display: inline-block;
    opacity: .8;
    border-radius: 100%;

    &.be { width: 23%; }
    &.d  { width: 10%; }
    &.s  { width: 15%; }
    &.g  { width: 13%; }
    &.e  { width: 20%; }
    &.r  { width: 15%; }
  }
}

#welcome-hero {
  height: auto;
  margin: 75px auto;

  .sidebar-description {
    h1 {
      font-size: 3.45em;
      font-weight: 200;
      color: rgb(126, 126, 126);
    }

    p {
      font-size: 1.25em;
      font-weight: 300;
      color: rgb(140, 140, 140);
    }
  }

  #welcome-register-form {
    margin-top: 25px;

    .alert {
      margin-top: -25px;
    }
  }
}

#welcome-info {
  margin-top: 95px;
  h2 {
    font-size: 2.85em;
    color: rgb(126, 126, 126);
    font-weight: 200;
  }
  height: 750px;
}

.welcome-bg-color {
  background: rgb(252, 252, 252);
}
